<div class="menu"  color="primary">

    <ul>
      <li *ngIf="!auth.isLoggedIn()">
        <a routerLink="/home"><mat-icon class="rigsl" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home</a>
      </li>
      <li *ngIf="!auth.isLoggedIn()">
        <a routerLink="/login"><mat-icon class="rigsl">input</mat-icon>Sign in</a>
      </li>
      <li *ngIf="auth.isLoggedIn()">
        <a routerLink="/profile"><mat-icon  class="rigsl">account_circle</mat-icon>{{ auth.getUserDetails()?.name }}</a>
      </li>
      <li *ngIf="auth.isLoggedIn()">
        <a routerLink="/dashboard"><mat-icon  class="rigsl">extension</mat-icon>MyHeroes</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="rig">

        <a (click)="auth.logout()"><mat-icon class="rigs">exit_to_app</mat-icon>Logout</a>
      </li>
    </ul>
</div>

<router-outlet></router-outlet>

